@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="Login">
    <div class="txt_field">

        <input asp-for="UserName" placeholder="Email" />
        <span asp-validation-for="UserName" class="text-danger"></span>

    </div>
    <div class="txt_field">
        <input asp-for="Password" placeholder="Password" type="password" />
        <span asp-validation-for="Password"  class="text-danger" ></span>
    </div>
    <input asp-for="RememberMe" type="checkbox" />
    <span>Remeber Me</span>
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="submit" value="Login">
    <div class="signup_link">
        Don't have an account' ? <a asp-action="Register"> Signup</a>
    </div>

</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}



