<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/_AuthSheet.css" />

</head>
<body>
  <div class="center">
    <h1>@ViewData["Title"]</h1>
   @RenderBody()
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("ValidationSection", required: false)
</body>
  
</html>
